body{
    display: flex;
    justify-content: center;
    align-content: center;
}

.jumbotron{
    width: 50%;
    margin-top:100px;
}

#sign-in{
   display: none;
}

.display-4{
    text-align: center;
}
